<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/board.css">
  </head>
  <body>
    <header>
      <h1 id="h1-element">Anonymous Message Board: <span id="h1-dynamic-child"></span></h1>
    </header>
    <main>
      <h3 id="h3-element">Create a new thread:</h3>
      <textarea id="thread-title-input" type='text' placeholder='Thread text...' name='text' required=''></textarea>
      <div id="input-subcontainer">  
        <input id="thread-password-input" type='text' placeholder='password to delete' name='delete_password' required>
        <button id="create-thread-btn" type="button">Submit</button>
      </div>
      <h3>Existing threads:</h3>
      <div id="threads-container">
      </div>
    </main>
    <script src="/public/board.js">
    </script>
  </body>
</html>
