<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/board.css">
  </head>
  <body>
    <header>
      <h1 id="h1-element">Anonymous Message Board: <span id="h1-dynamic-child"></span></h1>
    </header>
    <main>
      <h3 id="h3-element">Create a new thread:</h3>
      <textarea id="thread-title-input" type='text' placeholder='Thread text...' name='text' required=''></textarea>
      <div id="input-subcontainer">  
        <input id="thread-password-input" type='text' placeholder='password to delete' name='delete_password' required>
        <button id="create-thread-btn" type="button">Submit</button>
      </div>
      <h3>Existing threads:</h3>
      <div id="threads-container">
        <div id="test-thread-1-container" class="thread-container">
          <span class="thread-title">
            <strong>
              <a href="www.google.com">Test thread 1</a>
            </strong>
          </span>
          <div class="thread-subcontainer">
            <div class="created-on-container">
              <span>
                Created on
              </span>
              <span class="thread-created-on">
              </span>
            </div>
            <div class="bumped-on-container">
              <span>
                Bumped on
              </span>
              <span class="thread-bumped-on">
              </span>
            </div>
          </div>
        </div>
        <div id="test-thread-2-container" class="thread-container">
          <span class="thread-title">
            <strong>
              <a href="www.google.com">
                Test thread 2
              </a>
            </strong>
          </span>
          <div class="thread-subcontainer">
            <div class="created-on-container">
              <span>
                Created on
              </span>
              <span class="thread-created-on">
              </span>
            </div>
            <div class="bumped-on-container">
              <span>
                Bumped on
              </span>
              <span class="thread-bumped-on">
              </span>
            </div>
          </div>
        </div>
        <div id="test-thread-3-container" class="thread-container">
          <span class="thread-title">
            <strong>
              <a href="www.google.com">
                Test thread 3
              </a>
            </strong>
          </span>
          <div class="thread-subcontainer">
            <div class="created-on-container">
              <span>
                Created on
              </span>
              <span class="thread-created-on">
              </span>
            </div>
            <div class="bumped-on-container">
              <span>
                Bumped on
              </span>
              <span class="thread-bumped-on">
              </span>
            </div>
          </div>
        </div>
        <div id="test-thread-4-container" class="thread-container">
          <span class="thread-title">
            <strong>
              <a href="www.google.com">
                Test thread 4
              </a>
            </strong>
          </span>
          <div class="thread-subcontainer">
            <div class="created-on-container">
              <span>
                Created on
              </span>
              <span class="thread-created-on">
              </span>
            </div>
            <div class="bumped-on-container">
              <span>
                Bumped on
              </span>
              <span class="thread-bumped-on">
              </span>
            </div>
          </div>
        </div>
        <div id="test-thread-5-container" class="thread-container">
          <span class="thread-title">
            <strong>
              <a href="www.google.com">
                Test thread 5
              </a>
            </strong>
          </span>
          <div class="thread-subcontainer">
            <div class="created-on-container">
              <span>
                Created on
              </span>
              <span class="thread-created-on">
              </span>
            </div>
            <div class="bumped-on-container">
              <span>
                Bumped on
              </span>
              <span class="thread-bumped-on">
              </span>
            </div>
          </div>
        </div>
        <div id="test-thread-6-container" class="thread-container">
          <span class="thread-title">
            <strong>
              <a href="www.google.com">
                Test thread 6
              </a>
            </strong>
          </span>
          <div class="thread-subcontainer">
            <div class="created-on-container">
              <span>
                Created on
              </span>
              <span class="thread-created-on">
              </span>
            </div>
            <div class="bumped-on-container">
              <span>
                Bumped on
              </span>
              <span class="thread-bumped-on">
              </span>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/public/board.js">
    </script>
  </body>
</html>
