<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <header>
      <h1>
        Anonymous Message Board
      </h1>
    </header>
    <main>
      <h2>
        Visit a message board or create a new one:
      </h2>
      <div id="existing-board-list-container">
      <div id="new-board-input-container">
        <input id="board-input" type="text" placeholder="Name your message board">
        <button type="button" id="create-board-btn">Create new message board</button>
      </div>
    </main>
    <script>
    </script>
  </body>
</html>
