<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/thread.css">
  </head>
  <body>
    <header>
      <h1>
        Anonymous Message Board: <span id="h1-dynamic-child">Test</span>
      </h1>
      <div id="header-subcontainer">
        <h2>
          Thread: <span id="h2-dynamic-child">Test</span>
        </h2>
        <button id="report-thread-btn" type="button">Report</button>
        <input id="thread-password" type="text" placeholder="password to delete thread" size="25">
        <button id="delete-thread-btn" type="button">Delete</button>
      </div>
    </header>
    <main>
      <div id="reply-input-container">
        <textarea id="reply-text-input" placeholder="Reply text..."></textarea>
        <div id="reply-input-subcontainer">
          <input id="reply-password" type="text" placeholder="password to delete reply" size="24">
          <button type="button" id="post-reply-btn">Reply</button>
        </div>
      </div>
      <div id="replies-container">
      </div>
    </main>
    <script src="/public/thread.js">
    </script>
  </body>
</html>
