html {
  height: 100vh;
  width: 100vw;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: #63F74F
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

header {
  margin-top: 75px
}

h2 {
  align-self: flex-start;
  color: white
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center
}

#h3-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0
}

h3 {
  margin: 0;
  margin-bottom: 40px;
  margin-top: 20px
}

#existing-boards-header {
  margin-bottom: 36px
}

#main-container {
  width: 80%;
  display: flex;
  justify-content: space-between
}

#boards-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%
}

ul {
  margin: 0;
  font-size: 16px
}

li, a {
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 5px
}

a:active {
  color: #63F74F
}

#new-board-input-container {
  display: flex;
  flex-direction: column
}

input {
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  border: 2px solid white;
  color: #63F74F;
  padding: 10px;
  border-radius: 5px;
  overflow: none;
}

input:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid #63F74F; 
}

button {
  background-color: black;
  border: 2px solid #63F74F;
  color: #63F74F;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  border-radius: 5px;
  overflow: none;
  margin-top: 10px
}

button:hover {
  background-color: #16e60f;
  color: black;
  transform: scale(1.1);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease, transform 0.1s ease;
  border-radius: 5px;
}

button:active {
  transform: perspective(500px) rotateY(30deg);
}