html {
    height: 100vh;
    width: 100vw;
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    color: #63F74F
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

header {
    margin-top: 75px
}

h2 {
    text-align: center
}

#header-subcontainer {
    display: flex;
    align-items: center;
    justify-content: center
}

#report-thread-btn, #delete-thread-btn {
    margin-left: 10px;
    font-family: "Courier New", Courier, monospace
}

#report-thread-btn {
    margin-left: 30px
}

#thread-password {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    margin-left: 10px
}

main {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column
}

#reply-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
};

#reply-input-subcontainer {
    display: flex;
    align-items: flex-start;
}

textarea {
    margin-bottom: 20px;
    height: 100px;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    background-color: black;
    color: #63F74F;
    border: 2px solid white;
    border-radius: 5px;
    overflow: none;
    padding: 10px
}

textarea:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #63F74F; 
}

textarea::placeholder {
    color: #63F74F
}

input, #post-reply-btn {
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 20px
}

input {
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    color: #63F74F;
    padding: 5px
}

input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #63F74F; 
}

input::placeholder {
    color: #63F74F
}

.reply-date-container {
    margin-bottom: 10px
}

.reply-text {
    margin-left: 20px;
    color: white
}

.report-btn {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Courier New", Courier, monospace
}

.delete-reply-btn {
    font-family: "Courier New", Courier, monospace
}

button {
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    border: 2px solid #63F74F;
    color: #63F74F;
    border-radius: 5px;
    overflow: none;
    padding: 5px
}

button:hover {
    background-color: #16e60f;
    color: black;
    transform: scale(1.1);
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
    border-radius: 5px;
  }
  
  button:active {
    transform: perspective(500px) rotateY(30deg);
  }